[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
openai-whisper = "*"
setuptools-rust = "*"
pyaudio = "*"
python-dotenv = "*"
elevenlabslib = "*"
replicate = "*"
opencv-python = "*"
ffpyplayer = "*"
groq = "*"
elevenlabs = "==1.2.1"
soundfile = "==0.12.1"

[dev-packages]

[requires]
python_version = "3.10"
